In [1]:
import numpy as np
import pandas as pd

In [2]:
final=pd.DataFrame(np.zeros((1,3), dtype=np.int8),
             columns=['progr', 'matan','algebra'],
             index=pd.Index(range(1,2)))
final.index.names = ['id']
final

    progr  matan  algebra
id
1       0      0        0

In [3]:
ed = pd.read_csv('education.csv',  index_col=0)

In [4]:
ed

    progr  matan  algebra
id
1      17     10       20
2      45     77       44

In [5]:
final=final.add(ed,  fill_value=0)

In [6]:
final

    progr  matan  algebra
id
1    17.0   10.0     20.0
2    45.0   77.0     44.0

In [7]:
ed = pd.read_csv('education1.csv',  index_col=0)
ed

    progr  matan  algebra
id
1      17     10       20
2      45     77       44
10     13      2        3
5      11      0       45

In [8]:
final=final.add(ed,  fill_value=0)

In [9]:
final

    progr  matan  algebra
id
1    34.0   20.0     40.0
2    90.0  154.0     88.0
5    11.0    0.0     45.0
10   13.0    2.0      3.0

In [10]:
st = pd.read_csv('students.csv',  index_col=0)
st

   name
id
1     q
2     w
3     e
4     r
5     t
6     y
7     u
8     i
9     o
10    p
11    l

In [11]:
type(st)

pandas.core.frame.DataFrame

In [12]:
fool=pd.merge(st, final, left_index=True, right_index=True)
fool

   name  progr  matan  algebra
id
1     q   34.0   20.0     40.0
2     w   90.0  154.0     88.0
5     t   11.0    0.0     45.0
10    p   13.0    2.0      3.0

In [13]:
fool.columns

Index(['name', 'progr', 'matan', 'algebra'], dtype='object')

In [15]:
res=fool.query("progr !=0 & matan !=0 & algebra !=0").set_index('name')

In [27]:
(res['progr']+res['matan']+res['algebra']).sort_values(ascending=False)

name
w    332.0
q     94.0
p     18.0
dtype: float64

In [23]:
total.sort_values(ascending=False)

name
w    332.0
q     94.0
p     18.0
dtype: float64

In [26]:
total

name
w    332.0
q     94.0
p     18.0
dtype: float64