# Primitive Built-in Types (An Informal Introduction)
________________

[The [source material](https://docs.python.org/3/tutorial/introduction.html) is from Python 3.9.7]

## 1. Primitive built-in types
__________________
* Integer
* Float
* Complex
* String
* Boolean

### 2. Numbers

--------------------
* Expression syntax is straightforward: the operators `+`, `-`, `*` and `/` work just like in most other languages 
* Parentheses ```()``` can be used for grouping 
* Interpreter acts as a simple calculator: you can type an expression and interpreter will write the value

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5  # Division always returns a floating point number.

1.6

In [5]:
print  (type(8/5))

<class 'float'>

The integer numbers have type [`int`](https://docs.python.org/3.5/library/functions.html#int), the ones with a fractional part have type [`float`](https://docs.python.org/3.5/library/functions.html#float) 

Division (`/`) always returns a float 

To do [floor division](https://docs.python.org/3.5/glossary.html#term-floor-division) and get an integer result (discarding any fractional result) you can use the `//` operator 

To calculate the remainder you can use `%`

In [6]:
17 // 3  # Floor division discards the fractional part.

5

In [7]:
17 % 3  # The % operator returns the remainder of the division.

2

It's possible to use  `**` operator to calculate powers:

In [8]:
5 ** 2  # 5 squared

25

In [9]:
2 ** 7  # 2 to the power of 7

128

In [10]:
-3**2  # Same as -(3**2)

-9

In [11]:
(-3)**2

9

The equal sign (`=`) is used to assign a value to a variable.

!!! it’s better to think of Python variables as **labels** attached to objects (like **reference variables** in C++)

In [12]:
width = 20
height = 5 * 9
width * height

900

If a variable is not defined (assigned a value), trying to use it will give an error:

In [13]:
n  # Try to access an undefined variable.

NameError: name 'n' is not defined

In interactive mode, the **last printed expression** is assigned to the read-only variable `_`

In [14]:
_+1

901

In [15]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [16]:
price + _

113.0625

In [17]:
round(_, 2)

113.06

In [18]:
2**32+1

4294967297

In [19]:
len(str(2**32))

10

In [20]:
print(type(2**10000000 )) #calc in console 2**10000000

<class 'int'>

In [21]:
len(str(2**10000000)) # 3010300 ;)

3010300

In [22]:
2**1000000 / 2**999999

2.0

In [23]:
type(1e1000) # ???

float

In [24]:
1e1000 # ???

inf

In [25]:
%history

2 + 2
50 - 5*6
(50 - 5*6) / 4
8 / 5  # Division always returns a floating point number.
print  (type(8/5))
17 // 3  # Floor division discards the fractional part.
17 % 3  # The % operator returns the remainder of the division.
5 ** 2  # 5 squared
2 ** 7  # 2 to the power of 7
-3**2  # Same as -(3**2)
(-3)**2
width = 20
height = 5 * 9
width * height
n  # Try to access an undefined variable.
_+1
tax = 12.5 / 100
price = 100.50
price * tax
price + _
round(_, 2)
2**32+1
len(str(2**32))
print(type(2**10000000 )) #calc in console 2**10000000
len(str(2**10000000)) # 3010300 ;)
2**1000000 / 2**999999
type(1e1000) # ???
1e1000 # ???
%history

In [26]:
print (In)

['', '2 + 2', '50 - 5*6', '(50 - 5*6) / 4', '8 / 5  # Division always returns a floating point number.', 'print  (type(8/5))', '17 // 3  # Floor division discards the fractional part.', '17 % 3  # The % operator returns the remainder of the division.', '5 ** 2  # 5 squared', '2 ** 7  # 2 to the power of 7', '-3**2  # Same as -(3**2)', '(-3)**2', 'width = 20\nheight = 5 * 9\nwidth * height', 'n  # Try to access an undefined variable.', '_+1', 'tax = 12.5 / 100\nprice = 100.50\nprice * tax', 'price + _', 'round(_, 2)', '2**32+1', 'len(str(2**32))', 'print(type(2**10000000 )) #calc in console 2**10000000 ', 'len(str(2**10000000)) # 3010300 ;)', '2**1000000 / 2**999999', 'type(1e1000) # ???', '1e1000 # ???', "get_ipython().run_line_magic('history', '')", 'print (In)']

In [27]:
print(Out[2])

20

### 3. Nunber Formats
-----------------------
* Python has no fixed limit for integers
* large integers (such as ```2**1000000```) may be stored as long as there is enough memory and processing power available on the machine where it is running (in other languages common limits are ``` 2**8, 2**16, 2**32 and 2**64``` ) 
* Python floating-point numbers conform to IEEE 754 and the largest floating-point number is ```2**1023```

In [28]:
float(2**1024)

OverflowError: int too large to convert to float

In [29]:
0.1 + 0.2 == 0.3

False

In addition to `int` and `float`, Python supports [`Decimal`](https://docs.python.org/3.5/library/decimal.html#decimal.Decimal), [`Fraction`](https://docs.python.org/3.5/library/fractions.html#fractions.Fraction) and [complex numbers](https://docs.python.org/3.5/library/stdtypes.html#typesnumeric), where `j` or `J` suffixes indicate the imaginary part (e.g. `3+5j`).

In [30]:
3+5j

(3+5j)

### 4. Strings
--------------------

#### 4.1  Strings format
--------------------

* Strings can be expressed in several ways with the same result:
  - in single quotes (`'...'`) 
  - double quotes (`"..."`)  
* `\` can be used to escape quotes
* function len() returns the length of a string
* single characters are just strings with a length of 1

In [31]:
'spam eggs'  # Single quotes.

'spam eggs'

In [32]:
'doesn\'t'  # Use \' to escape the single quote...

"doesn't"

In [33]:
"doesn't"  # ...or use double quotes instead.

"doesn't"

In [34]:
'"Yes," he said.'

'"Yes," he said.'

In [35]:
"\"Yes,\" he said."

'"Yes," he said.'

In [36]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

* The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise it is enclosed in single quotes. 
* [`print()`](https://docs.python.org/3.5/library/functions.html#print) function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [37]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In [38]:
print('"Isn\'t," she said.')

"Isn't," she said.

In [39]:
s = 'First line.\n Second line.'  # \n means newline
s  # Without print(), \n is included in the output

'First line.\n Second line.'

In [40]:
print(s)  # With print(), \n produces a new line

First line.
 Second line.

* Using _raw strings_ (by adding an `r` before the first quote) to avoid characters prefaced by `\` to be interpreted as special characters:

In [41]:
print('C:\some\name')  # Here \n means newline

C:\some
ame

In [42]:
print(r'C:\some\name')  #  r before the quote

C:\some\name

* String literals can span multiple lines using triple-quotes: `"""..."""` or `'''...'''`
* End of lines are automatically included in the string, but it's possible to prevent this by adding a `\` at the end of the line:

In [43]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

#### 4.2 String concatination 
-------
* with `+` operator, and repeated with `*`:

In [44]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [45]:
('un' * 3)+ 'ium'

'unununium'

In [46]:
prefix = 'Py'
prefix + 'thon'

'Python'

* Two or more _string literals_ (i.e. the ones enclosed between quotes) next to each other are automatically concatenated

In [47]:
'Py' 'thon'

'Python'

In [48]:
prefix = 'Py'
prefix 'thon'  # Can't concatenate a variable and a string literal.

SyntaxError: invalid syntax (Temp/ipykernel_13232/2795526229.py, line 2)

* Autoconcatination only works with two literals though, not with variables or expressions

* Using ``` ( )``` with string expressions to break long strings:

In [49]:
text = ('Put several strings within parentheses '
            'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

#### 4.3 String indexing and slicing
_____________
* Strings can be _indexed_ (subscripted), with the first character having index 0 
* There is no separate character type; a character is simply a string of size 1

In [50]:
word = 'Python'
word[0]  # Character in position 0.

'P'

In [51]:
word[6]

IndexError: string index out of range

* Indices may also be negative numbers, to start counting from the right

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [52]:
word[-1]  # Last character.

'n'

In [53]:
word[-2]  # Second-last character.

'o'

In [54]:
word[-6]

'P'

* Slicing allows to obtain substring
* Start is always included, and the end always excluded

In [55]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

'Py'

In [56]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

'tho'

* Defaults to slice indices: an omitted first index defaults to zero, an omitted second index defaults to the size of the string being sliced

In [57]:
word[:2] + word[2:]

'Python'

In [58]:
word[:2]  # Character from the beginning to position 2 (excluded).

'Py'

In [59]:
word[4:]  # Characters from position 4 (included) to the end.

'on'

In [60]:
word[-2:] # Characters from the second-last (included) to the end.

'on'

Attempting to use an index that is too large will result in an error:

In [61]:
word[42]

IndexError: string index out of range

In [62]:
word[4:42]

'on'

In [63]:
word[42:]

''

* Strings are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable)

In [64]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [65]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [66]:
'J' + word[1:]

'Jython'

In [67]:
word[:2] + 'Py'

'PyPy'

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [68]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

#### 4.4 File IO for String
-----------------------

In [69]:
with open('greeting.txt', 'w') as gf:
    gf.write("Hello!")

In [70]:
with open('greeting.txt', 'r') as gf:
    data = gf.read()
print(data)

Hello!

In [71]:
name=input('Enter your name: ')
print(name)
data+=name
print(data+name)

Enter your name:  a

a
Hello!aa

### 5. Bytes and Unicode
_________________

In [72]:
val = "español"
val

'español'

In [73]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [74]:
type(val_utf8)

bytes

In [75]:
val_utf8.decode('utf-8')

'español'

In [76]:
val = "тест1234"
val

'тест1234'

In [77]:
val_utf8 = val.encode('utf-8')
val_utf8

b'\xd1\x82\xd0\xb5\xd1\x81\xd1\x821234'

In [78]:
type(val_utf8)

bytes

In [79]:
val.encode('latin1')
val

UnicodeEncodeError: 'latin-1' codec can't encode characters in position 0-3: ordinal not in range(256)

In [80]:
val.encode('utf-16')
val

'тест1234'

In [81]:
val.encode('utf-16le')
val

'тест1234'

In [82]:
bytes_val = b'this is bytes'
bytes_val

b'this is bytes'

In [83]:
decoded = bytes_val.decode('utf-8')
decoded  # this is str (Unicode) now

'this is bytes'

See also:

- [Text Sequence Type str](https://docs.python.org/3.5/library/stdtypes.html#textseq): Strings are examples of _sequence types_, and support the common operations supported by such types.
- [String Methods](https://docs.python.org/3.5/library/stdtypes.html#string-methods): Strings support a large number of methods for basic transformations and searching.
- [Format String Syntax](https://docs.python.org/3.5/library/string.html#formatstrings): Information about string formatting with [`str.format()`](https://docs.python.org/3.5/library/string.html#formatstrings).
- [`printf`-style String Formatting](https://docs.python.org/3.5/library/stdtypes.html#old-string-formatting): The old formatting operations invoked when strings and Unicode strings are the left operand of the `%` operator.

### 6. Boolean Type
--------------------
- The Boolean type is a simple type with two possible values: ```True``` and ```False```.

- Booleans can be constructed using the ```bool()``` object constructor. 
- Values of any other type can be converted to Boolean via predictable rules.

For example, any numeric type is False if equal to zero, and True otherwise:

In [84]:
result = (4 < 5)
result

True

In [85]:
4>5

False

In [86]:
type(result)

bool

In [87]:
bool(2018)

True

In [88]:
bool("")

False

### 7. None Type
________________
Python includes a special type, the ```NoneType```, which has only a single possible value: ```None``

In [89]:
type(None)

NoneType

```None``` may be used in many places, but perhaps most commonly it is used as the default return value of a function.

For example, the ```print()``` does not return anything, but we can still catch its value:

In [90]:
return_value = print('abc')

abc

In [91]:
print(return_value)

None

In [92]:
bool(None)

False

To read more, see [A Whirlwind Tour of Python](https://github.com/jakevdp/WhirlwindTourOfPython/tree/6f1daf714fe52a8dde6a288674ba46a7feed8816)